$main-color: #fff9db;
$main-color-shade: #e67700;
$gray: #555;
$dark-gray: #333;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $gray;
}

body {
  font-size: 10px;
  color: $gray;
  font-family: "Rubik", sans-serif;
}

.container {
  padding: 0 2rem;
  max-width: 65rem;
  margin: 0 auto;
}

.header-section {
  background-color: $main-color;
  padding: 0 2rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;

  .logo {
    color: $main-color-shade;
  }
  a {
    font-size: 1rem;
    text-decoration: none;
    color: $dark-gray;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.hero-section {
  background-color: $main-color;
  padding-bottom: 3.2rem;

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -0.5px;

    margin-bottom: 2.5rem;
    text-align: center;
    color: $dark-gray;

    padding-top: 3.6rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
    line-height: 2;
  }

  .hero-image-container {
    padding: 2rem 0;
  }

  @media (min-width: 769px) {
    .container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .hero-text-container {
      width: 50%;
    }

    .hero-image-container {
      width: 50%;
      padding: 5rem;
    }

    img {
      width: 100%;
    }

    h1 {
      font-size: 3.6rem;
      font-weight: 500;
      line-height: 1.05;
      letter-spacing: -0.5px;

      margin-bottom: 2.5rem;
      text-align: center;
      color: $dark-gray;

      padding-top: 3.6rem;
    }

    p {
      font-size: 1rem;
      text-align: center;
      line-height: 2;
    }
  }
}

.projects-section {
  padding: 5.6rem 0 3.2rem 0;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $main-color-shade;
    margin-bottom: 2rem;
    text-align: center;
  }

  .project-number {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 2.4rem;
    color: $dark-gray;
  }

  .tech-tag-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .tech-tag {
    font-size: 1rem;
    text-decoration: underline;
  }

  .project-description {
    font-size: 1rem;
    margin-bottom: 1.6rem;
    line-height: 2;
  }

  hr {
    margin: 5.6rem 0 5.6rem 0;
  }

  img {
    max-width: 12rem;
  }
  .project-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @media (min-width: 769px) {
    .project {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10rem;
    }
    .project-text {
      width: 75%;
    }

    .project-image-container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem;

  a {
    font-size: 1rem;
    text-decoration: none;
    color: $gray;
  }

  .social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .social-media-svg {
    font-size: 1rem;
    color: $gray;
  }
}
