$main-color: #fff9db;
$main-color-shade: #e67700;
$gray: #555;
$dark-gray: #333;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 10px;
  color: $gray;
  font-family: "Rubik", sans-serif;
}

.container {
  padding: 0 30px;
}

.header-section {
  background-color: $main-color;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;

  .logo {
    color: $main-color-shade;
  }
  a {
    font-size: 1rem;
    text-decoration: none;
    color: $dark-gray;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}

.hero-section {
  background-color: $main-color;
  padding-bottom: 3.2rem;
  h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.05;
    letter-spacing: -0.5px;

    margin-bottom: 2.5rem;
    text-align: center;
    color: $dark-gray;

    padding-top: 3.6rem;
  }

  p {
    font-size: 1rem;
    text-align: center;
    line-height: 2;
  }

  img {
    width: 100%;
    height: auto;
    margin: 4.8rem 0 2.4rem 0;
  }
}

.projects-section {
  padding: 5.6rem 0 3.2rem 0;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $main-color-shade;
    margin-bottom: 2rem;
    text-align: center;
  }

  .project {
    padding: 2.4rem 0 2.4rem 0;
  }
  .project-number {
    font-size: 1rem;
    letter-spacing: 2px;
    margin-bottom: 1.6rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 650;
    margin-bottom: 2.4rem;
    color: $dark-gray;
  }

  .tech-tag-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
  }

  .tech-tag {
    font-size: 1rem;
    text-decoration: underline;
  }

  .project-description {
    font-size: 1rem;
    margin-bottom: 1.6rem;
    line-height: 2;
  }

  img {
    max-width: 50%;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
    margin-bottom: 5.6rem;
  }
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 0;

  a {
    font-size: 1rem;
    text-decoration: none;
    color: $gray;
  }

  .social-medias {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }

  .social-media-svg {
    font-size: 1rem;
    color: $gray;
  }
}
